*{
  margin: 0;
  padding: 0;

}
.main-body{
  background-image: url("img/h_img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: none;
  background-size: cover;
  /* height: 100vh; */
  text-align: center;
  color: white;
}

.logo_delani{
  margin-top: 19em;
}.mouse_icon{
  padding-top: 22em
}.about_section{
  text-align: center;
  padding: 50px;
}.services_section{
  text-align: center;
  background-image: url("img/s_image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: none;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
  color: white;
}.work_section{
  text-align: center;
  padding-top: 50px;
}.work_header{
  padding-bottom: 50px;
}.portfolio_section{
  text-align: center;
}.portfolio_section img{
  width: 100%;
  padding-bottom: 20px;
}.contact_section{
  background-image: url("img/c_image.jpg");
  text-align: center;
  color: #fff;
  padding: 50px;
}#mce-FNAME, #mce-EMAIL{
 width: 200em;
 border: 2px solid white;
margin-right: 20px;
}#mce-MESSAGE{
width: 100%;
height: 20rem;
padding: 5px;
border: 2px solid white;
}
input, textarea{
  background-color: transparent;
}
.footer_section, .social-icons{
  padding: 20px;
  text-align: center;
}::placeholder{
  color: white;
}.hide1, .hide2, .hide3{
  display: none;
}.hidden{
  position: absolute ;
  top: 3px;
  bottom: 2px;
  text-align: center;
}#portfolio-img, #firebase-img, #security-img, #app-img, #admin-img, #blog-img, #bar-img, #resturant-img{
 position: relative;
}#inputs{
  display: inline-flex;
}#hidden1, #hidden2, #hidden3, #hidden4, #hidden5, #hidden6, #hidden7, #hidden8{
  position: absolute;
  top:30%;
  left: 30%;
  display: none;
}#hidden1.active{
  background: white;
}