*{
  margin: 0;
  padding: 0;

}
.main-body{
  background-image: url("img/h_img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: none;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: white;
}

.logo_delani{
  margin-top: 19em;
}.mouse_icon{
  padding-top: 22em
}.about_section{
  text-align: center;
  padding-top: 2em;
}.services_section{
  text-align: center;
  background-image: url("img/s_image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: none;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
  color: white;
}.work_section{
  text-align: center;
  padding-top: 50px;
}.work_header{
  padding-bottom: 50px;
}.portfolio_section{
  text-align: center;
}.portfolio_section img{
  width: 100%;
  padding-bottom: 20px;
}.contact_section{
  background-image: url("img/c_image.jpg");
  text-align: center;
  color: #fff;
}.contact_form{
}#name, #email{
  width: 40%;
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
}#message{
width: 80%;
height: 20rem;
padding-right:10px;
padding-left: 10px;
border-radius: 5px
}
input, textarea{
  background-color: transparent;
  border: 2px solid white;

}
input, textarea:hover{
  border: 2px solid white;

}::placeholder{
  color: white;
}