*{
  margin: 0;
  padding: 0;

}
.main-body{
  background-image: url("img/h_img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: none;
  background-size: cover;
  /* height: 100vh; */
  text-align: center;
  color: white;
}

.logo_delani{
  margin-top: 19em;
}.mouse_icon{
  padding-top: 22em
}.about_section{
  text-align: center;
  padding: 50px;
}.services_section{
  text-align: center;
  background-image: url("img/s_image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: none;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
  color: white;
}.work_section{
  text-align: center;
  padding-top: 50px;
}.work_header{
  padding-bottom: 50px;
}.portfolio_section{
  text-align: center;
}.portfolio_section img{
  width: 100%;
  padding-bottom: 20px;
}.contact_section{
  background-image: url("img/c_image.jpg");
  text-align: center;
  color: #fff;
  padding: 50px;
}#mce-FNAME, #mce-EMAIL{
 width: 200em;
 border: 2px solid white;
margin-right: 20px;
}#mce-MESSAGE{
width: 100%;
height: 20rem;
padding: 5px;
border: 2px solid white;
}
input, textarea{
  background-color: transparent;
}
.footer_section, .social-icons{
  padding: 20px;
  text-align: center;
}::placeholder{
  color: white;
}.hide1, .hide2, .hide3{
  display: none;
}.hidden{
  position: absolute ;
  top: 3px;
  bottom: 2px;
  text-align: center;
}#portfolio-img, #firebase-img, #security-img, #app-img, #admin-img, #blog-img, #bar-img, #resturant-img{
 position: relative;
}#inputs{
  display: inline-flex;
}#hidden1, #hidden2, #hidden3, #hidden4, #hidden5, #hidden6, #hidden7, #hidden8{
  position: absolute;
  top:30%;
  left: 30%;
  display: none;
  font-weight: bold;
  font-size: 100%;
}#hidden1.active{
  background: white;
}
#go {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0%);
  color: white;
  border: 0;
  background: #71c341;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  font-size: 1rem;
  transition: background 0.2s ease;
  outline: none;
}
#go:hover {
  background: #8ecf68;
}
#go:active {
  background: #5a9f32;
}

.message {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 300px;
  background: white;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  font-weight: 300;
  color: #2c2928;
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.31, 0.25, 0.5, 1.5), opacity 0.2s ease-in-out;
}
.message .check {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(4);
  width: 120px;
  height: 110px;
  background: #71c341;
  color: white;
  font-size: 3.8rem;
  padding-top: 10px;
  border-radius: 50%;
  opacity: 0;
  transition: transform 0.2s 0.25s cubic-bezier(0.31, 0.25, 0.5, 1.5), opacity 0.1s 0.25s ease-in-out;
}
.message .scaledown {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.message p {
  font-size: 20px;
  margin: 25px 0px;
  padding: 0;
}
.message p:nth-child(2) {
  font-size: 2.3rem;
  margin: 40px 0px 0px 0px;
}
.message #ok {
  position: relative;
  color: white;
  border: 0;
  background: #71c341;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  font-size: 1.2rem;
  transition: background 0.2s ease;
  outline: none;
}
.message #ok:hover {
  background: #8ecf68;
}
.message #ok:active {
  background: #5a9f32;
}

.comein {
  top: 150px;
  opacity: 1;
}
